<ul class="slidemenu-nav">
  <a id="slidemenu-close" href="#" class="btn btn-md pull-right toggle"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
  <li>
    <a href="{{@blog.url}}">
      <i class="fa fa-home fa-2x"></i> HOME
    </a>
  </li>
  <li><a href="{{@blog.url}}/about">
    <i class="fa fa-male fa-2x"></i> ABOUT</a>
  </li>
  <li>
    <a href="{{@blog.url}}/rss/">
      <i class="fa fa-rss  fa-2x"></i> SUBSCRIBE
    </a>
  </li>
  <li class="slidemenu-divider"></li>
  <li>
    CATEGORIES
  </li>
  <li>
    <a href="{{@blog.url}}/tag/it">
      <i class="fa fa-code fa-2x"></i> IT
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/tag/design">
      <i class="fa fa-heart fa-2x"></i> DESIGN
    </a>
  </li>    
  <li>
    <a href="{{@blog.url}}/tag/books">
      <i class="fa fa-book fa-2x"></i> BOOKS
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/tag/thoughts">
      <i class="fa fa-coffee fa-2x"></i> THOUGHTS
    </a>
  </li>



  <li class="slidemenu-divider"></li>
  <li>
    FOLLOW
  </li>
  <li>
    <a href="https://twitter.com/mistergf" target="_blank">
      <i class="fa fa-twitter fa-2x"></i> TWITTER
    </a>
  </li>
  <li>
    <a href="https://github.com/mistergf" target="_blank">
      <i class="fa fa-github fa-2x"></i> GITHUB
    </a>
  </li>


{{#if tags}}
<ul>
{{#foreach tags}}
<li>{{name}}</li>
{{/foreach}}
</ul>
{{/if}}
</ul>
