<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bastard.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />

    {{! Touch icons and favicon }}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset "/images/apple-touch-icon-144x144-precomposed.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset "/images/apple-touch-icon-114x114-precomposed.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset "/images/apple-touch-icon-72x72-precomposed.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{asset "/images/apple-touch-icon-57x57-precomposed.png"}}" />
    <link rel="apple-touch-icon-precomposed" href="{{asset "/images/apple-touch-icon-precomposed.png"}}" />
    <link rel="apple-touch-icon" href="{{asset "/images/apple-touch-icon.png"}}" />
    <link rel="icon" type="image/x-icon" href="{{asset "/images/favicon.ico"}}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{asset "/images/favicon.ico"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    {{! Update the following section with your own Google Analytics Tracking Code - http://www.google.com/analytics/}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXXXXX-X', 'karloespiritu.com');
      ga('send', 'pageview');

    </script>
  </head>
<body class="{{body_class}}">
    <!-- Side Menu -->
        <!--Gravatar link, update avatar image url to use your own; s = size in pixels -->
        {{> gravatar}}
        <!-- /Gravatar link -->
    <div id="slidemenu-wrapper">
        {{> slidemenu}}
    </div>
    <!-- /Side Menu -->

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{! Social Links }}
                    {{> social }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                 <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
                 <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a> and the <a href="http://github.com/karloespiritu/Bastard"><strong>Bastard</strong></a> Theme</section>
            </div>
            <div class="row">
                 <a id="scroll-to-top" class="pull-right" href="#top"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
            </div>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Bastard }}
    <script type="text/javascript" src="{{asset "js/scripts.min.js"}}"></script>
</body>
</html>
